{% extends 'base.html' %}
{% block content %}
    <section class="container my-4">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="">Learn Forex</h2>
                <p class="display-6">
                    Your one-stop guide to all things forex. Whether you're a rookie trying to understand
                    forex or a veteran looking to develop a trading strategy, we've got you covered.
                </p>
            </div>
            {% if featured %}
            <div class="col-sm-6 px-4">
              <div class="">
                {% include 'articles/article_card.html' with article=featured%}
            </div>
            </div>
        </div>
        {% endif %}
    </section>
    {% if articles %}
    <section class="container-sm my-4">
        <h2>Latest Articles</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for art in articles %}
                <div class="col">
                    {% include 'articles/article_card.html' with article=art %}
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock content %}
