{% extends 'base.html' %}

{% block profile %}
  <button class="nav-link btn " data-bs-toggle="modal" data-bs-target="#profile"><i class="fas fa-list"></i></button>
    {% include 'home/profile.html' with data=profile form=form %}
{% endblock profile %}

{% block content %}
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6 col-sm-auto">
                <h2 class="">Learn Forex</h2>
                <p class="h5">
                    Your one-stop guide to all things forex. Whether you're a rookie trying to understand
                    forex or a veteran looking to develop a trading strategy, we've got you covered.
                </p>
            </div>
            {% if featured %}
            <div class="col-sm-auto col-md-4 offset-md-2">
                <div class="col mx-auto">
                  {% include 'articles/article_card.html' with article=featured%}
                </div>

            </div>
            </div>
        </div>
        {% endif %}
    </section>
    {% if articles %}
    <section class="container my-4">
        <h2>Latest Articles</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-around">
            {% for art in articles %}
                <div class="col">
                    {% include 'articles/article_card.html' with article=art %}
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock content %}
