{% extends 'base.html' %}

{% block content %}
  <section class="container mt-5">

    <article class="mx-auto row row-cols-auto">
      <h2 class="col-auto">{{ course.name }}</h2>
      <div class="col-auto">
        {% autoescape off%}
          {{ course.content}}
        {% endautoescape %}
      </div>
    </article>
  </section>
{% endblock content %}

{% block content1 %}
  <section class="container mb-3">
    <h3 class="">The lessons in {{ course.name }} include</h3>
    <div class="row row-cols-4 justify-content-around">
      {% for lesson in lessons %}
      <div class="col py-3">
        {% include 'articles/article_card.html' with article=lesson  %}
      </div>
    {% endfor %}
    </div>
  </section>
{% endblock content1 %}