container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true

packages:
  yum:
    git: []
    postgresql-devel: []
    libjpeg-turbo-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FxPippette.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static_root
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: FxPippette.settings
