option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FxPippette.wsgi:application
packages:
  yum:
    git: []
    postgresql95-devel: []

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "FxPippette.settings"
    "PYTHONPATH": "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: FxPippette/FxPippette/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"