{% extends 'base_email.html' %}
  {% block info %}
  {% endblock info %}
  {% block user %}
    <p>Hi <strong>{{ user.username }}</strong></p>
  {% endblock user %}
  {% block msg %}
    <p>You requested for a password reset</p>
    <p>Follow the link below to reset your password</p>
    <a href="http://{{ domain }}{% url 'password_reset' uidb64=uid token=token %}" class="btn1">RESET</a>
    <p>copy this link and paste on your browser if the button is not working http://{{ domain }}{% url 'password_reset' uidb64=uid token=token %}</p>
  {% endblock msg %}