<div class="card h-100" style="max-height: content-box">
    <div class="card-header">
        {{ article.title }}
    </div>
        <img src="{{article.banner.url}}" alt="" class="card-img-top img-fluid" style="height: 200px">
    <div class="card-body">
        <h5 class="card-title">{{ article.get_name}}</h5>
        <a href="{{ article.get_absolute_url }}" class="btn btn-primary">View Lesson</a>
    </div>
    <div class="card-footer">
      <span><i class="fas fa-clock "></i> {{ article.duration }} Read </span>
    </div>
</div>
