{% extends 'base.html' %}

{% block content %}
    <section class="container my-5">
            <article class="mx-auto">
                <h2 class="">{{ article.title }}</h2>
                <div class="">
                  {% autoescape off%}
                    {{ article.content}}
                  {% endautoescape %}
                </div>

                <div class="row row-cols-2 bg-secondary">
                    {% if prev %}
                      <div class="col ps-0">
                        <a href="{{prev}}" class="btn btn-primary "><i class="fas fa-arrow-left"></i>Previous</a>
                      </div>
                    {% endif %}
                    {% if next %}
                      <div class="col px-0 d-flex flex-fill justify-content-end">
                        <a href="{{next}}" class="btn btn-primary di"><i class="fas fa-arrow-right"></i>Next</a>
                      </div>
                    {% endif %}
                </div>
            </article>
    </section>
{% endblock content %}

{% block content1 %}
    {% if others %}
    <section class="container mb-3">
        <h2>Related Lessons</h2>
        <div class="row row-cols-md-4 g-4 justify-content-around">
            {% for art in others %}
                <div class="col">
                    {% include 'articles/article_card.html' with article=art %}
                </div>
            {% endfor %}
        </div>
    </section>
  {% endif %}
{% endblock content1 %}
